p {
    margin-bottom: 20px;
}

/* dialog box styling */

.oheader {
    margin-bottom: 1em;
}
#options .row * {
    display: inline-block;
}
#options .row label {
    width: auto;
}
#options .row {
    margin-top: 10px;
}
.row:nth-child(2) {
    margin-top: 20px;
}
.dialog {
    padding: 1em 4em 2em 4em;
}
hr + .row {
    margin-top: 30px;
}

/* input styling */

.boxText {
    padding-top: 2px;
}
.input-control {
    vertical-align: baseline;
}
.text .prefSwitch {
    transition: border 0.3s ease;
}