* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #1d1d1d;
    color: white;
}
.switch .check {
    width: 42px;
}
.switch .check::before {
    transition: transform .2s linear !important;
    /* sorry! */
    width: 11px;
    height: 11px;
    margin-top: 2px;
    margin-left: 4px;
}
.input-control.modern * {
    transition: all 0.3s linear, visibility 1ms !important;
}
.row .input-control {
    margin-top: -15px;
    margin-left: 10px;
}
.input-control .placeholder {
    margin-top: 3px;
}

/* OTHER STYLES */

.settings {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: default;
}
.settings .icon {
    font-size: 2em;
    opacity: 0.7;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
.settings .icon:hover {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

/* TILE STYLES */

.red .pseudotile .tile {
    background-color: #ee1111;
}
.blue .pseudotile .tile {
    background-color: #2d89ef;
}
.tile-container {
    width: 1790px;
    margin: 0 auto;
}
.image-overlay, .tile-content {
    font-family: 'Open Sans', serif;
}
.middle {
    width: 1.2em;
    margin: 0 auto;
    padding: 10px 0 10px 0;
}
.tile-content .live-slide {
    display: block;
}
.tile-content .image-container .image-overlay {
    padding: 0;
}

/* summoner splash */

.tile-wide-y {
    width: 171px;
}

/* summoner spells */

.tile-small, .spell {
    width: 70px;
    height: 70px;
}

/*runes, masteries, and rank*/

.tile-small-y {
    //width:150px;
}
.pseudotile {
    display: block;
    float: left;
    width: 354px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.image-container .image-overlay::after, .image-container .image-overlay::before {
    border: none;
}
.spell .image-overlay {
    height: 100%;
    padding: 0;
    margin: 0 auto;
    vertical-align: middle;
}
.ranked .image-container .image-overlay {
    text-transform: uppercase;
    font-size: 1em;
}

/* ranked */

.ranked .image-container .frame {
    background-color: rgba(0, 0, 0, 0);
}
.ranked .image-container .image-overlay .wins {
    color: #2ecc71;
}
.ranked .image-container .image-overlay .losses {
    color: #e74c3c;
}

/*bronze*/

.bgbronze {
    background-image: url("../assets/background/bronze.jpg");
}
.row .pseudotile .bronze {
    background-color: #d35400;
}

/*silver*/

.bgsilver {
    background-image: url("../assets/background/silver.jpg");
    background-size: 240px 150px;
}
.row .pseudotile .silver {
    background-color: #bdc3c7;
}

/*gold*/

.bggold {
    background-image: url("../assets/background/gold.jpg");
    background-size: 150px 188px;
}
.row .pseudotile .gold {
    background-color: #f39c12;
}

/*platinum*/

.bgplatinum {
    background-image: url("../assets/background/platinum.jpg");
    background-size: 267px 150px;
}
.row .pseudotile .platinum {
    background-color: #1abc9c;
}

/*diamod*/

.bgdiamond {
    background-image: url("../assets/background/diamond.jpg");
    background-size: 150px 150px;
}
.row .pseudotile .diamond {
    background-color: #3498db;
}

/*master*/

.bgmaster {
    background-color: #ecf0f1;
}
.row .pseudotile .master {
    background-color: #ecf0f1;
}

/*challenger (woah!)*/

.bgchallenger {
    background-color: #f1c40f;
}
.row .pseudotile .challenger {
    background-color: #f1c40f;
}